<% include ../partials/head %>
<div class="container">
	<div class="jumbotron">
		<h1>Welcome</h1>
		<p>Welcome to the admin page of Zabbix proxy, don't forget to change the admin password</p>
		<p><a class="btn btn-primary btn-lg" href="/password" role="button">Change it now</a></p>
	</div>
</div>
<% include ../partials/foot %>
