<% include ../partials/head %>
<div class="container">
	<h1>You have been logged out.</h1>
	<p id="message">
		Redirecting to the main page ...
	</p>
<div class="container">
<script>
var time = 5;
function wait(){
	document.getElementById('message').innerHTML = "Redirecting to the main page  (" + time-- + ")";
	if(time === 0){
		window.location.href='/';
	} else {
		setTimeout(wait, 1000);
	}
}
setTimeout(wait, 1000);
</script>

<% include ../partials/foot %>
