<% include ../partials/head %>
<div class="container">
	<% if(message && !error){ %>
	<div class="alert alert-success alert-dismissible" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<%= message %>
	</div>
	<% } else if(message){ %>
	<div class="alert alert-danger alert-dismissible" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<%= message %>
	</div>
	<% } %>
	<div class="page-header">
		<h1>Settings</h1>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h1 class="panel-title">Change password</h1>
		</div>
		<div class="panel-body">
			<form method="post" action="">
				<fieldset class="form-group">
					<label for="oldPassword">Old password</label>
					<input type="password" name="passwordOld" class="form-control" id="oldPassword" placeholder="Old Password">
				</fieldset>
				<fieldset class="form-group">
					<label for="inputPassword">New password</label>
					<input type="password" name="password" class="form-control" id="inputPassword" placeholder="Password">
				</fieldset>
				<fieldset class="form-group">
					<label for="confirmPassword">Confirm new password</label>
					<input type="password" name="passwordConfirm" class="form-control" id="confirmPassword" placeholder="Password">
				</fieldset>
				<button type="submit" class="btn btn-primary">Submit</button>
			</form>
		</div>
	</div>
</div>
<% include ../partials/foot %>
